{% include 'header.html' %}

<h1>Data Query</h1>

<form method="post">
    Best <select name="q1">
            <option value="species">Species</option>
            <option value="location">Location</option>
            <option value="weight">Weight</option>
            <option value="lure">Lure</option>
         </select>
    for  <select name="q2_name">
            <option value="species">Species</option>
            <option value="location">Location</option>
            <option value="weight">Weight</option>
            <option value="lure">Lure</option>
         </select>
     name:<input name="q2_value"/><br/>
    <input type='submit' value="submit">
</form>