{% include 'header.html' %}

<a href='/{{current_user.id}}/catches/data'>New Data Query</a> <br> <br>

<h1>Ranked {{q1}} for {{q2[0]}} ({{q2[1]}}):</h1>

{% if q1 == "weight" %}
    {% for d in data %}
        <b>{{d[0]}} lbs: </b> <a href='/{{current_user.id}}/catches/{{d[1]}}'>{{d[1]}}</a> <br>
        <br>
    {% endfor %}

{% else %}
    {% for d in data %}
        <h3>{{d[1]}}:</h3>
        {% for cid in d[0] %}
            <a href='/{{current_user.id}}/catches/{{cid}}'>{{cid}}</a> <br>
        {% endfor %}
        <br>
    {% endfor %}
{% endif %}
